:root {
    --main-one: #fe0000;
    --main-two: #d10000;
    
    --text-highlight: #c40000;
    --text-muted: #363636;
    --text-white: white;
    --text-link: #0458a1;

    --border-light: #a5a5a5;
    --border-black: black;

    --shadow-light: #cccccc;

    --bg-white: white;
}



body, html {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.page-container {
    min-height: 100vh;
}



/*footer component*/
.footer-container {
    padding: 10px 60px 40px;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    border-top: 1px solid black;
}

.footer-image {
    height: 30px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.footer-made-by {
    font-size: 1rem;
}

.footer-name {
    color: var(--text-highlight);
}

.footer-copy-right {
    font-size: 0.9rem;
    color: var(--text-muted);
}

/*footer mobile*/
@media (max-width: 768px) {
    .footer-image {
        height: 25px;
        width: 100px;
    }
    .footer-box {
        padding: 6px;
    }
    .footer-container {
        padding: 10px 10px 30px;
    }
}



/*login and register page*/
.sign-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.sign-box {
    width: 100%;
    max-width: 330px;
}

.sign-image {
    width: 300px;
    height: 66px;
}

.sign-left-text-box {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 6px;
}

.sign-welcome {
    font-size: 2.5rem;
    font-weight: bold;
}

.sign-text {
    font-size: 1.1rem;
}

.sign-right {
    padding: 10px;
}

.sign-form-container {
    box-shadow: 0 0 8px var(--shadow-light);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sign-title {
    text-align: center;
    font-size: 1.2rem;
}
.register-title {
    color: var(--text-white);
}

.sign-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 0.9rem;
    color: var(--text-muted);
}
.register-label {
    font-size: 0.9rem;
    color: #ebebeb;
}

.input-field {
    padding: 3px 2px;
    border: 1px solid var(--border-light);
    border-radius: 4px;
}
.register-field {
    padding: 3px 2px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid transparent;
}

.input-field:hover {
    border: 1px solid var(--main-one);
}
.register-field:hover {
    background-color: white;
    border: 1px solid black;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 2px var(--border-black);
    border: 1px solid var(--shadow-light);
}
.register-field:focus {
    outline: none;
    box-shadow: 0 0 2px black;
    border: 1px solid black;
    background-color: white;
}

.sign-btn {
    padding: 3px;
    margin: 10px 0 4px;
    border-radius: 4px;
    border: 1px solid var(--main-one);
    background-color: var(--main-one);
    color: var(--text-white);
    font-size: 0.95rem;
}
.register-btn {
    padding: 3px;
    margin: 10px 0 4px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: white;
    color: var(--main-one);
    font-size: 0.95rem;
}
.register-btn:hover {
    opacity: 0.9;
}
.sign-btn:hover {
    background-color: var(--main-two);
}

.sign-alter {
    text-align: center;
    font-size: 0.95rem;
    color: var(--text-muted);
}
.register-alter {
    text-align: center;
    font-size: 0.95rem;
    color: #dedede;
}

.sign-alter-link {
    text-decoration: none;
    color: var(--text-link);
}
.sign-alter-link:hover {
    text-decoration: underline;
}
.register-alter-link {
    text-decoration: none;
    color: #81b4ff;
}
.register-alter-link:hover {
    text-decoration: underline;
}

.register-page {
    background-color: var(--main-one);
}

.register-container {
    background-color: var(--bg-white);
    padding: 40px 80px;
    border-radius: 14px;
}

.register-sign-form-container {
    box-shadow: 0 0 8px var(--shadow-light);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--main-one);
}


@media (max-width: 768px) {
    .sign-container {
        flex-direction: column;
        gap: 20px;
    }
    .sign-box {
        width: 100%;
        max-width: 300px;
    }
    .sign-image {
        height: 50px;
        width: 225px;
    }
    .register-container {
        padding: 10px 20px;
    }
}

.sign-errors {
    color: red;
    background-color: yellow;
    font-size: 0.9rem;
    margin-top: 6px;
}

.login-error {
    color: red;
    background-color: #ff000013;
    font-size: 0.9rem;
    margin-top: 6px;
}